/* Space sections */
.tiny-space-section {
  height: 1rem;
}
.small-space-section {
  height: 3rem;
}
.large-space-section {
  height: 7rem;
}
.xlarge-space-section {
  height: 12rem;
}
.xxlarge-space-section {
  height: 16rem;
}
.half-page-space-section {
  height: 20rem;
}

/* Link decorations */
.white-link {
  color: white;
  text-decoration: underline;
}
a.disabled {
  pointer-events: none !important;
}

/* Font modifications */
.qualification-title {
  font-size: 0.8rem;
}
.thick {
  font-weight: 300 !important;
}

/* Misc */
.full-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.row {
  margin-bottom: 0px;
}
.scale-image {
  max-width: 100%;
  height: auto;
}
.selected {
  background-color: rgba(201, 201, 201, .6);
}

#portfolio-button {
  margin-right: 1rem;
}
#resume-button {
  margin-left: 1rem;
}

html {
  font-weight: 200;
}
h4 {
  font-weight: 200;
}
h5 {
  font-weight: 100;
  font-size: 1.8rem !important;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  font-size: 1.4rem;
  font-weight: 100;
}

/* For FontAwesome icons */
.circle-icon {
  /* background: #ffc0c0; */
  padding: 30px;
  border-radius: 50%;
}

/* Mobile changes (Reactive Small) */
@media screen and (max-width: 568px) {
  h4 {
    font-size: 1.12rem !important;
  }
  h5 {
    font-size: 1.3rem !important;
  }
  p {
    font-size: 0.7rem !important;
  }
  p.bigger {
    font-size: 1.2rem !important;
  }
  #portfolio-button {
    margin-right: 0;
  }
  #resume-button {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Mobile changes (Reactive Medium) */
@media screen and (max-width: 1024px) and (min-width: 568px) {
  h4 {
    font-size: 1.12rem !important;
  }
  h5 {
    font-size: 1.4rem !important;
  }
  p {
    font-size: 1.0rem !important;
  }
  #portfolio-button {
    margin-right: 0;
  }
  #resume-button {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Small brand-logo size fixes to make site more reactive */
@media screen and (max-width: 1140px) and (min-width: 1050px) {
  .brand-logo {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 1050px) and (min-width: 1000px) {
  .brand-logo {
    font-size: 0.75rem !important;
  }
}
