.half-page-space-section {
    height: 20rem;
}
.white-link {
    color: white;
}
.large-space-section {
    height: 7rem;
}
.qualification-title {
    font-size: 0.8rem;
}
.row {
    margin-bottom: 0px;
}
.scale-image {
    max-width: 100%;
    height: auto;
}
.small-space-section {
    height: 3rem;
}
.selected {
    background-color: rgba(201, 201, 201, .6)
}
.thick {
    font-weight: 300;
}
.tiny-space-section {
    height: 1rem;
}
.xlarge-space-section {
    height: 12rem;
}
.xxlarge-space-section {
    height: 16rem;
}

html {
    font-weight: 200;
}
h4 {
    font-weight: 200;
}
h5 {
    font-weight: 100;
    font-size: 1.8rem ! important;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-size: 1.2rem;
    font-weight: 100;
}

a.disabled {
    pointer-events: none !important;
}

/* For FontAwesome icons */
.circle-icon {
    /* background: #ffc0c0; */
    padding:30px;
    border-radius: 50%;
}

/* Mobile changes (Reactive) */
@media screen and (max-width: 670px) {
    h4 {
        font-size: 1.12rem ! important;
    }
    h5 {
        font-size: 1.4rem ! important;
    }
    p {
        font-size: 1rem;
    }
}